.menu {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 90%;
  position: fixed;
  top: 72px;
  justify-content: center;
  align-items: start;
  z-index: 2;
}

.menuElement {
  display: flex;
  align-items: center;
  max-width: 300px;
  height: 64px;
  cursor: pointer;
  text-decoration: unset;
  color: #8585ad;
}

.menuLabel {
  max-width: 300px;
  height: 64px;
  color: #8585ad;
}

.activeMenuElement {
  display: flex;
  align-items: center;
  width: 320px;
  height: 64px;
  cursor: pointer;
  text-decoration: unset;
  color: #f2f2f3;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
