.main {
  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  align-items: center;
}

.main svg {
  width: 33px;
  height: 33px;
}

.cost {
  display: flex;
  justify-content: center;
}

.link{
  all: unset;
}
